default:
    suites:
        default:
            contexts:
                -   Behatch\Context\JsonContext: ~
                -   Behatch\Context\RestContext: ~
                -   Behat\MinkExtension\Context\MinkContext: ~
                -   FeatureContext:
                        kernel: '@kernel'
                -   UserContext:
                        entityManager: '@doctrine.orm.default_entity_manager'
                        jwtEncoder: '@lexik_jwt_authentication.encoder.lcobucci'
                        tokenManager: '@lexik_jwt_authentication.jwt_manager'
                        userFactory: '@App\Application\Factory\UserFactory'
                -   ProfileContext: ~
                -   AuthContext:
                        entityManager: '@doctrine.orm.default_entity_manager'
                        tokenManager: '@lexik_jwt_authentication.jwt_manager'

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
        Behat\MinkExtension:
            base_url: "http://127.0.0.1/"
            sessions:
                default:
                    symfony2: ~
        Behatch\Extension: ~