default:
    suites:
        default:
            contexts:
                - behatch:context:json
                - behatch:context:rest
                -   Behat\MinkExtension\Context\MinkContext: ~
                -   FeatureContext:
                        kernel: '@kernel'
                -   UserContext:
                        entityManager: '@doctrine.orm.default_entity_manager'
                        jwtEncoder: '@lexik_jwt_authentication.encoder.lcobucci'

    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
        Behat\MinkExtension:
            base_url: "http://127.0.0.1/"
            sessions:
                default:
                    symfony2: ~
        Behatch\Extension: ~